<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--第零种 无参构造器设置-->
    <!-- <bean id="user" class="com.linge.pojo.User">
         <property name="name" value="wuxin"/>  无参构造注入
     </bean>-->

    <!--第一种 下标设置-->
    <!-- <bean id="user" class="com.linge.pojo.User">
         <constructor-arg index="0" value="QQ"/>
     </bean>-->

    <!--第二种 类型设置-->
    <!--<bean id="user" class="com.linge.pojo.User">
        <constructor-arg type="java.lang.String" value="飞信"/>
    </bean>-->

    <!--第三种 通过参数名直接设定-->
    <bean id="user" class="com.linge.pojo.User">
        <constructor-arg name="name" value="MIT"/>
    </bean>

    <bean id="userT" class="com.linge.pojo.UserT" name="t">
    </bean>

    <alias name="user" alias="adsfas"/>
</beans>